.container {
    margin: 5px 40px;
}
@media screen and (max-width: 600px) {
    .container {
        margin: 5px 20px;
    }
}
.search_block{
    background-color: #212f30;
    border-radius: 12px;
    display: flex;

}
.input_search {
    background: none;
    width: 100%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    outline:none;


}
.input_search-internal-autofill-selected {
    background-color: rgba(255, 255, 255, 0.0);;
}
.input_search:active {
    border: none;

}
.filters {
    display: flex;
    width: 700px;
    justify-content: space-between;
}
.find_icon{
    width: 24px;
    padding: 21px 20px;
}
.carts {

}

